<div class="container mt-4">
  <div class="border rounded shadow p-4 mb-4 bg-white">
    <h1 class="h3 mb-2 pb-2 border-bottom"><%= t('web.bulletins.edit.title') %></h1>

    <% if @bulletin.image.attached? %>
      <div class="mb-3">
        <p><%= t('web.bulletins.edit.current_image') %>:</p>
        <%= image_tag @bulletin.image.variant(resize_to_limit: [200, 200]), class: 'img-thumbnail' %>
      </div>
    <% end %>

    <% content_for :submit_text, t('web.bulletins.edit.submit') %>
    <%= render 'form' %>
  </div>
</div>
