<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1><%= t('web.bulletins.index.title') %></h1>
    <% if signed_in? %>
      <%= link_to t('web.bulletins.index.new_bulletin'), new_bulletin_path, class: 'btn btn-primary' %>
    <% end %>
  </div>

  <% if @bulletins.any? %>
    <div class="row">
      <%= render @bulletins %>
    </div>
  <% else %>
    <div class="alert alert-info">
      <%= t('web.bulletins.index.no_bulletins') %>
    </div>
  <% end %>
</div>
