<div class="container mt-4">
  <div class="border rounded shadow p-4 mb-4 bg-white">
    <h1 class="h3 mb-2 pb-2 border-bottom"><%= t('web.bulletins.new.title') %></h1>

    <% content_for :submit_text, t('web.bulletins.new.submit') %>
    <%= render 'form' %>
  </div>
</div>
