<div class="jumbotron bg-light p-5 rounded-3">
  <h1 class="display-4">Доска объявлений</h1>
  <p class="lead">Добро пожаловать на нашу доску объявлений! Здесь вы можете размещать и находить различные объявления.</p>
  <hr class="my-4">
  <p>Начните просматривать объявления или создайте свое первое объявление.</p>
  <%= link_to "Смотреть объявления", "#", class: "btn btn-primary btn-lg" %>
</div>
